<div class="py-20 w-full grid place-content-center">

    <div class="grid place-content-center w-full">
        <table id="results" class="table-fixed", style="display:table;">
            <thead>
                <tr id="table-header" class="font-bold uppercase">
                    <!-- Table header content goes here -->
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Table rows go here -->
            </tbody>
        </table>
    </div>
</div>

<script src="{{ .Site.BaseURL }}/js/challenge_f1_table.js"></script>