<div class="py-20 w-full grid place-content-center">
    <div>
        Sort by:
        <select name="metric-sort-select" id="metric-sort-select" onchange="updateMetricSort()">
            <option value="1">F1-Score</option>
            <option value="2">Sensitivity</option>
            <option value="3">Precision</option>
            <option value="4">False Positives</option>
        </select>
    </div>
    <div class="grid place-content-center w-full">
        <table id="results" class="table-fixed", style="display:table;">
            <thead>
                <tr id="table-header" class="font-bold uppercase">
                    <!-- Table header content goes here -->
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Table rows go here -->
            </tbody>
        </table>
    </div>
</div>

<script src="{{ .Site.BaseURL }}/js/challenge_f1_table.js"></script>