<div class="text-center">
    <h2> Collaborators</h2>

    <p>This project originated from the synergy of the <a href="https://data.snf.ch/grants/grant/193813">Pedesite</a> consortium that was faced with the challenge of comparing results of different seizure detection algorithms. Do reach out to expand this framework for the validation of epileptic seizure detection algorithms and to contribute to the benchmark.</p>

    <div class="grid grid-cols-3 grid-flow-col place-items-center gap-4">
        <div>
            <img src="{{ .Site.BaseURL }}/img/home/epfl_logo.svg" alt="EPFL Logo" />
        </div>
        <div>
            <img src="{{ .Site.BaseURL }}/img/home/chuv_logo.svg" alt="CHUV Logo" />
        </div>
        <div>
            <img src="{{ .Site.BaseURL }}/img/home/eth_logo.svg" alt="ETH Logo" />
        </div>
    </div>

    <div class="grid grid-cols-4 grid-flow-col place-items-center gap-4">
        <div>
            <a class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-600 dark:hover:!bg-primary-700" href="https://www.epfl.ch/labs/esl/">ESL - EPFL</a>
        </div>
        <div>
            <a class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-600 dark:hover:!bg-primary-700" href="https://www.chuv.ch/fr/neurologie/nlg-home">CHUV</a>
        </div>
        <div>
            <a class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-600 dark:hover:!bg-primary-700" href="https://iis.ee.ethz.ch/">IIS - ETH</a>
        </div>
        <div>
            <a class="!rounded-md bg-primary-600 px-4 py-2 !text-neutral !no-underline hover:!bg-primary-500 dark:bg-primary-600 dark:hover:!bg-primary-700" href="https://www.epfl.ch/labs/lts4/">LTS4 - EPFL</a>
        </div>
    </div>
</div>