<div class="w-full place-content-center">

    <h2>Algorithm Evaluation Results</h2>

    <p>As an overview of the best performing algorithms, we provide the event-based F1-score of all algorithms on a set of datasets. More detailed results of each algorithm are available for by clicking on the algorithm name.</p>

    <div class="place-content-center w-full mb-16">
        <table id="results" class="table-fixed", style="display:table;">
            <thead>
                <tr id="table-header" class="font-bold uppercase">
                    <td class="align-bottom">Algorithms</td>
                    <td class="text-center w-12 [writing-mode:sideways-lr] rotate-20 align-bottom"><a href="{{ .Site.BaseURL }}/datasets/chbmit"> chbmit</a></td>
                    <td class="text-center w-12 [writing-mode:sideways-lr] rotate-20 align-bottom"><a href="{{ .Site.BaseURL }}/datasets/siena">siena</a></td>
                    <td class="text-center w-12 [writing-mode:sideways-lr] rotate-20 align-bottom"><a href="{{ .Site.BaseURL }}/datasets/tuh">tuh</a></td>
                    <td class="text-center w-12 [writing-mode:sideways-lr] rotate-20 align-bottom"><a href="{{ .Site.BaseURL }}/datasets/seizeit">seizeit</a></td>
                    <td class="text-center w-12 [writing-mode:sideways-lr] rotate-20 align-bottom"><a href="{{ .Site.BaseURL }}/datasets/dianalund">dianalund</a></td>
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Table rows go here -->
            </tbody>
            
        </table>
        <p>Datasets used for training an algorithm are marked with a 🚂.</p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js"></script>
<script type="module" src="{{ .Site.BaseURL }}/js/f1_table.js"></script>