<div class="py-20 w-full grid place-content-center">

    <h2>Event-based F1-Score</h2>

    <p>As an overview of the best performing algorithms, we provide the event-based F1-score of all algorithms on a set of datasets. More detailed results of each algorithm are available for by clicking on the algorithm name.</p>

    <div class="grid place-content-center">
        <table id="results" class="table-fixed">
            <thead>
                <tr id="table-header" class="font-bold uppercase">
                    <!-- Table header content goes here -->
                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Table rows go here -->
            </tbody>
        </table>
    </div>
</div>

<script src="{{ .Site.BaseURL }}/js/f1_table.js"></script>